body {
    background-image: url("../images/main-map-1920x1080.png"); /*orignal measurments were 9600 by 5400*/
/*    width: 100%;
    padding: 0px;
    spacing: 0px;
    margin: 0px;*/

  background: url(../images/main-map-1920x1080.png) no-repeat fixed; 
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}

.section1{
	margin-left: 4.5%;
    margin-top: 4.7%;
    /*background-color: aliceblue;*/
    width: 14%;
    z-index: 1;

}

.one-half.column{
	margin-top: 15%;
    /*background-color: aliceblue;*/
    width: 19%;
    margin-left: -6%;
}

.four.columns{
	margin-left: 27%;
    margin-top: 1.5%;
    /*background-color: aliceblue;*/
    width: 18%;
}

.one-half.column4{
	margin-top: 10%;
    margin-left: 41%;
    width: 18%;
   /* background-color: aliceblue;*/
}

.one-half.column6{
	margin-left: 55%;
    margin-top: 24%;
    /*background-color: aliceblue;*/
    width: 13%;
    position: fixed;
}

.section7{
	margin-left: 81%;
    margin-top: -12.5%;
   /* background-color: aliceblue;*/
    width: 13%;
}

.one-half.column5-2{
	margin-left: 65%;
    margin-top: 10%;
   /* background-color: aliceblue;*/
    width: 25%;
}

.one-half.column5-1{
	margin-top: 10%;
    margin-left: 15%;
    width: 25%;
    /*background-color: aliceblue;*/
}

.one-half.column5-3{
	margin-left: 65%;
    margin-top: 20%;
    /*background-color: aliceblue;*/
    width: 25%;
}

.one-half.column5{
	margin-top: -3%;
    margin-left: 42%;
    width: 20%;
    /*background-color: aliceblue;*/
}
   
.lightbox {
  /** Hide the lightbox */
  display: none;

  /** Apply basic lightbox styling */
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: black;
  background: rgba(0,0,0,0.8);
}

.lightbox img {
  /** Pad the lightbox image */
  max-width: 90%;
  max-height: 80%;
  margin-top: 2%;
}

.lightbox:target {
  /** Show lightbox when it is target */
  display: block;

  /** Remove default browser outline style */
  outline: none;
}

.closebutton {
  position: absolute;
}

#section2 {
  width: 13%;
  margin-top: -10%;
  margin-left: 12.5%;
}

#upbeanstalk {
  display: block;
  width: 100%;
  height: 100%;
  top: 0px;
  position: absolute;
  background-image: url('../images/top-map.png');
  background-size: 100%;
  display: none;
}

#section3{
  margin-left: 34%;
  margin-top: -5.5%;
  width: 13%;
  z-index: 1;
}

#section4{
  margin-left: 43.5%;
  margin-top: 2.7%;
  width: 13%;
  z-index: 1;
}

#section6{
  margin-left: 72%;
  margin-top: -7%;
  width: 12%;
  z-index: 1;
}

#section7{
  margin-left: 80.5%;
  margin-top: -13%;
}

#section5{
  margin-left: 30%;
  margin-top: 4%;
  width: 12%;
  z-index: 15;
  position: absolute;
}


#section52{
  margin-left: 53%;
  margin-top: 12%;
  width: 12%;
  z-index: 15;
  position: absolute;
}


#section53{
  margin-left: 44%;
  margin-top: 37%;
  width: 12%;
  z-index: 15;
  position: absolute;
}

.view {
  display: none;
  position: absolute;
  z-index: 1000;
  text-align: center;
  width: 90%;
  color: #FFFFFF;
}

#viewone{
  top: 15%;
  left: 5%;

}

#viewtwo{
  top: 15%;
  left: 5%;

}

#viewthree{
  top: 15%;
  left: 5%;

}

#viewfour{
  top: 15%;
  left: 5%;

}

#viewsix{
  top: 15%;
  left: 5%;

}

#viewseven{
  top: 15%;
  left: 5%;

}

#viewfive{
  top: 15%;
  left: -157%;
  width: initial;

}

#viewfivetwo{
  top: -40%;
  left: -350%;
  width: initial;

}

#viewfivethree{
  top: -240%;
  left: -300%;
  width: initial;
}

.lightbox {
  display: none;
  position: absolute;
  z-index: 12;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.7;
}

img {
    width: 100%;
    z-index: 2;
    transition:all.2s ease-in-out;
}

img:hover{
  transform: scale(1.05);
}


#dots53{
    z-index: 10;
  margin-top: -9.5%;
  transform: none;
  position: absolute;
  margin-left: -20%;
}

#dots52{
    z-index: 10;
  margin-top: 0.5%;
  transform: none;
  position: absolute;
  margin-left: -15%;
}

#dots5{
    z-index: 10;
  margin-top: -14.5%;
  transform: none;
  position: absolute;
  margin-left: 10%;
}

#dots6{
    z-index: -99;
  margin-top: -4.5%;
  transform: none;
  position: absolute;
}

#dots4{
    z-index: -99;
  margin-top: -4.5%;
  transform: none;
  position: absolute;
}

#dots3{
    z-index: -99;
  margin-top: -4.5%;
  transform: none;
  position: absolute;
}

#dots2 {
  z-index: -99;
  margin-top: -4.5%;
  transform: none;
  position: absolute;
}

#dots1{
  transform: none;
  position: absolute;
  z-index: -100;
  margin-left: 0px;
  margin-top: -69px;
  /*float: left;*/
}
    